body {
  box-sizing: border-box;
}
a {
  display: block;
  margin-bottom: 20px;
}

/* С помощью спецификации селектора атрибута и их строгого сравнивания, необходимо окрасить вторую и четвертую ссылку в красный цвет. */


