body {
  background-color:burlywood;
}

.grid-item {
  border: 1px solid black;
}

.grid-item-1 {
  background-color: aqua;
}

.grid-item-2 {
  background-color: red;
}

.grid-item-3 {
  background-color: blue;
}

/* Смотреть image-3 */

/* С помощью свойства css grid создайте трехколонный макет. Первая колонка должна подстраиваться под размер текста. Ширина второй должна быть 200px, а последняя должна быть растянута на всю ширину контента. */

.grid {
  display: grid;
  grid-template-columns: auto 200px max-content;
}