body {
  box-sizing: border-box;
}
a {
  display: block;
  margin-bottom: 20px;
}

/* С помощью разновидности селектора атрибута и их частичного сравнивания, необходимо окрасить фон первой и пятой ссылку в голубой цвет. */


a[href^="http://123"] {
    background-color: blue;
}


/* Указанная стрелка вверх перед знаком равно, означает что проверяется начало строки */